<div class="mainContainer">
  <div class="left"><app-pump-states></app-pump-states>
    <app-tank-states></app-tank-states>
  </div>
  <div class="right">
    <div class="topRight">
      <div *ngIf="listIncidents.length>0" class="incidentMainContainer">
        <app-incidents
         *ngFor="let incident of listIncidents"
         [incident]="incident"
         (click)="gotoIncident(incident)"
         ></app-incidents>
      </div>
      <div *ngIf="listIncidents.length==0" class="incidentMainContainer">
        <h2 class="noIncident">Aucuns incidents n'a été déclaré aujourd'hui</h2>
        <button class="default" (click)="gotoIncident(null)">Déclarer un incident</button>
      </div>
    </div>
    <div class="bottomRight">
      <div class="verticalButtons">
        <button class="greenButton" routerLink="/stocks"><img src="../../assets/stocks.png" alt="stocks">
          Stocks</button>
        <button routerLink="/stocks/inventory" class="greenButton"><img src="../../assets/prix.png" alt="prix"> Prix</button>
        <button routerLink="/caisse" class="greenButton"><img src="../../assets/caisse.png" alt="horaires"> Caisse</button>
        <button routerLink="/comptabilite" class="greenButton"><img src="../../assets/compta.png" alt="comptabilité"> Comptabilité</button>
      </div>
      <form [formGroup]="formGroup" id="commandForm">
        <h3>Nouveau Réapprovisionnement</h3>

        <div class="formGroup">
          <label for="productAsked">Fournisseur</label>
          <select formControlName="provider" id="productAsked">
            <option *ngFor="let provider of listProviderFuel" value={{provider.id}}>{{provider.firstName}} {{provider.lastName}}</option>
          </select>
        </div>
        <div class="formGroup">
          <label for="fuel">Énergie</label>
          <select formControlName="fuel" name="fuel" id="fuel" >
            <option value=0 hidden></option>
            <option *ngFor="let fuel of listFuel" value={{fuel.id}}>{{fuel.typeOfFuel}}</option>
          </select>
        </div>
        <div class="formGroup">
          <label for="quantity">Quantity</label>
          <input formControlName="quantity" type="number" name="quantity" id="quantity">
        </div>
        <div class="formGroup">
          <label for="montant">Montant</label>
          <label for="montant">{{this.getTotal()}} €</label>
        </div>
        <button (click)="submit()">Valider</button>

      </form>
    </div>
  </div>
</div>
<app-display-error></app-display-error>
<app-display-popup></app-display-popup>
