<div class="mainContainer">
  <div class="left"><app-pump-states></app-pump-states>
    <app-tank-states></app-tank-states>
  </div>
  <div class="right">
    <div class="topRight">
      <div *ngIf="listIncidents.length>0" class="incidentMainContainer">
        <app-incidents
         *ngFor="let incident of listIncidents"
         [incident]="incident"
         (click)="gotoIncident(incident)"
         ></app-incidents>
      </div>
      <div *ngIf="listIncidents.length==0" class="incidentMainContainer">
        <h2 class="noIncident">Aucuns incidents n'a été déclaré aujourd'hui</h2>
        <button class="default" (click)="gotoIncident(null)">Déclarer un incident</button>
      </div>
    </div>
    <div class="bottomRight">
      <div class="verticalButtons">
        <button class="greenButton" routerLink="/stocks"><img src="../../assets/stocks.png" alt="stocks">
          Stocks</button>
        <button class="greenButton"><img src="../../assets/prix.png" alt="prix"> Prix</button>
        <button class="greenButton"><img src="../../assets/horaires.png" alt="horaires"> Horaires et conso</button>
        <button class="greenButton"><img src="../../assets/compta.png" alt="comptabilité"> Comptabilité</button>
      </div>
      <form id="commandForm">
        <h3>Nouveau Réapprovisionnement</h3>

        <div class="formGroup">
          <label for="productAsked">Fournisseur</label>
          <select name="productAsked" id="productAsked">
            <option *ngFor="let provider of listProviderFuel" value="">{{provider.firstName}} {{provider.lastName}}</option>

          </select>
        </div>
        <div class="formGroup">
          <label for="fournisseur">Énergie</label>
          <select name="fournisseur" id="fournisseur">

          </select>
        </div>
        <div class="formGroup">
          <label for="quantity">Quantity</label>
          <input type="number" name="quantity" id="quantity">
        </div>
        <div class="formGroup">
          <label for="montant">Montant</label>
          <input type="number" name="montant" id="montant">
        </div>
        <button>Valider</button>

      </form>
    </div>
  </div>
</div>
