.left {
  width: 25%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.mainContainer {
  display: flex;
  width: 100%;
  height: 75vh;
}

.right {
  width: 68%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.topRight {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.bottomRight {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 46px;
}

.verticalButtons {
  width: 55%;
  height: 533px;
  gap: 31px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.verticalButtons button {
  background-image: url("../../assets/bgButton.png");
  border: none;
  font-size: 2em;
  background-position: 20% 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.verticalButtons button img {
  width: 20%;
}

.incidentMainContainer {
  display: flex;
  gap: 1em;
  margin: 1em 0;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 75vw;
  justify-content: space-between;
}

#question-group {
  display: flex;
  width: 100%;
}

#commandForm {
  width: 55%;
}

.topButtons,
.bottomButtons {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.greenButton {
  width: 100%;
  height: 100%;
}
