li {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.3em;
}

.date ,
.fournisseur,
.etat {
  flex: 2;
}
.produit{
  flex: 4;
}
.pumpState {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2em;
}
.annuler {
  background: #ff3d00;
  border-radius: 10px;
  padding: 0.25em 0.5em;
}
.grey {
  opacity: 0.2;
}
