.mainContainer {
  display: flex;
  width: 100%;
  height: 75vh;
}

.incidentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.rightPart {
  width: 75%;
  height: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  background-color: white;
}

.listIncident {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 30%;
  height: 100%;
  overflow: auto;
}

.separator {
  width: 8px;
  height: 75%;
  background-color: #ececec;
}

.incidentTitle {
  font-size: 2em;
  font-style: italic;
}
.textPart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3em;
  align-items: center;
  width: 70%;
  height: 100%;
}
.incidentDesc {
  font-size: 1.2em;
  width: 50%;
  line-height: 167%;
  font-weight: 100;
}

.leftTitles {
  font-size: 1.8em;
}
.leftTitles div {
  padding: 1em;
}
app-incidents{
  cursor: pointer;
  transition: 0.3s;

}
app-incidents.active{
  transform: translate(30px);
  transition: 0.3s;

}

