<div class="content">
  <h1>Créer un compte</h1>
  <form [formGroup]="formGroup">
    <div class="formGroup">
      <label for="first_name">Prénom</label>
      <input formControlName="first_name" type="text" name="first_name" id="first_name" />
    </div>
    <div class="formGroup">
      <label for="last_name">Nom</label>
      <input formControlName="last_name" type="text" name="last_name" id="last_name" />
    </div>


    <div class="formGroup">
      <label for="password">Mot de passe</label>
      <input formControlName="password" type="password" name="password" id="password" />
    </div>


    <button (click)="submit()">Créer un compte</button>
  </form>
</div>
<app-display-popup></app-display-popup>
<app-display-error></app-display-error>
