<div class="mainContainer">
  <div class="incidentContainer">
    <div class="leftTitles">
      <div>FAQ des incidents</div>
      <div>Reporter un incident</div>
      <div>Incidents journaliers</div>
    </div>
    <div class="rightPart">
      <div class="listIncident"><app-incidents *ngFor="let incident of listIncidents"
          [incident]="incident"></app-incidents></div>
      <div class="separator"></div>
      <div class="textPart">
        <div class="incidentTitle">Que faire en cas d’{{incidentSelected.title}} ?</div>
        <div class="incidentDesc">En cas d’incendie dans la station à essence, veuillez garder le calme et sortir de
          l’établissement en prenant soin de fermer les portes coupe feu. Regroupez vous sur le parking de sorte à vous
          éloigner le plus possible du danger. Appelez le 18 et transmettez leurs l’urgence.</div>
      </div>
    </div>
  </div>
</div>