<form [formGroup]="formGroup">
  <h3>Nouveau Réapprovisionnement</h3>

  <div class="formGroup">
    <mat-form-field appearance="fill">
      <mat-label>Fournisseur</mat-label>
      <mat-select formControlName="fournisseur">
        <mat-option *ngFor="let fournisseur of providerList" [value]="fournisseur.id">{{fournisseur.firstName}} {{fournisseur.lastName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="formGroup">
    <mat-form-field appearance="fill">
      <mat-label>Produit demandé</mat-label>
      <mat-select formControlName="product">
        <mat-option *ngFor="let product of productProposedList" [value]="product.id">{{product.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="formGroup">
    <mat-form-field appearance="fill">
      <mat-label>Quantité</mat-label>
      <input class="none" matInput type="number" formControlName="quantity" name="quantity" id="quantity">

    </mat-form-field>
  </div>
  <div class="formGroup">
    <label for="Montant">Montant</label>
    <label class="center"> {{getTotal()}} €</label>
  </div>
  <button (click)="submit()">Commander</button>
</form>
<app-display-error ></app-display-error>
<app-display-popup ></app-display-popup>
