<div class="mainContainer">
  <div class="left">
    <router-outlet></router-outlet>
    <div class="navRouter">
      <div [class]="route()=='addFournisseur'?'choosed':''" routerLink="addFournisseur">Ajouter un fournisseur</div>
      <div [class]="route()=='addReappro'?'choosed':''" routerLink="addReappro">Réapprovisionnement</div>
      <div [class]="route()=='inventory'?'choosed':''" routerLink="inventory">Consulter l'inventaire</div>
    </div>
  </div>
  <div class="right">
    <ul>
      <li class="header">
        <div class="date">Date</div>
        <div class="produit">Produit</div>
        <div class="fournisseur">Quantité</div>
        <div class="etat">État</div>

      </li>
      <app-reappro *ngFor="let reappro of this.listDelivery" [reappro]="reappro"></app-reappro>

    </ul>
  </div>
</div>
