<div  class="mainContainer">
  <img src="../../assets/512ERP.png" alt="512ERP" />
  <form *ngIf="!createAccount">
    <h1>Se connecter</h1>
    <div [formGroup]="formGroup" class="formGroup">
      <label for="login">Nom d'utilisateur</label>
      <input formControlName="login" type="text" name="login" id="login" />
    </div>
    <div [formGroup]="formGroup" class="formGroup">
      <label for="password">Mot de passe</label>
      <input formControlName="password" type="password" name="password" id="password" />
    </div>
    <div class="flex">
      <button class="login buttonBase" (click)="createAccount=true">Créer un compte</button>
      <button class="login buttonBase" (click)="sendConnection()">Se connecter</button>
    </div>
    </form>
    <app-create-account *ngIf="createAccount"></app-create-account>
  </div>


<app-display-error ></app-display-error>
