
.incidentTitle {
  font-size: 2em;
  font-style: italic;
}
label{
  font-size: 1.6em;
}
.item{
  width: 100%;
}
textarea.default{
  height: 80%;
}

.form{
  box-shadow: unset;
  width: 100%;
}
select{
  height: 60%;
  cursor: pointer;
}
button{
  margin: 0;

}

form{
  height: 100%;
}
