.mainContent{
  height:  75vh;
}
.option{
  font-style: italic;
}
.topnav{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 20%;
  height: 20%;
}
.content,app-create-client{

  display: flex;
  width: 100%;
  justify-content: center;
  height: 80%;

}
