header {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  header img {
    width: 10%;
    z-index: 1;
  }
  .title {
    font-size: 2.5em;
    font-weight: 600;
  }
  img{
    cursor: pointer;
  }
