<div class="tankStatesContainer" >

  <h1 class="titleTankLevel">Niveau des cuves</h1>
  <div class="tankStates">
    <div class="tankLevels" *ngFor="let fuel of listFuel" >
      <ng-container *ngIf="showTooltip==fuel.typeOfFuel">
        <div class="tooltip" >
          {{fuel.quantity}} / 500 (L)
        </div>
      </ng-container>
      <div class="level"  (mouseover)="showTooltip=fuel.typeOfFuel" >
        <div class="actualLevel" [style.height.%]="calculateHeight(fuel.quantity)"></div>

      </div>
      <div class="name">{{ fuel.typeOfFuel }}</div>
    </div>
  </div>
</div>
