.tankStatesContainer {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 20vw;
  height: 30vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tankStatesContainer h1 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0 auto;
  margin-bottom: 10px;
}
.tankStates {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 10px;
  width: 100%;
  height: 90%;
}
.tankLevels {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: calc(100%/4);
}

.level {
  width: 70%;
  height: 100%;
  background-color: var(--black512);
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
}
.actualLevel {
  transition: all 0.8s ease-in-out;
  width: 100%;
  height: 0%;
  background-color: var(--green512);
  border-radius: 10px;
}
.name{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  text-align: center;
}
.tooltip {
  position: absolute;
  background-color: #ebebeb;
  border: 1px solid #ccc;
  padding: 5px;
  z-index: 1;
}
